@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.sign_up_form_group {
   display: flex;
   flex-direction: column;     
}

.sign_up_form_group label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;     
}

.buttonSign_up {
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 80px;
    padding-left: 10px;
    margin-left: 10px;
    text-align: center;
    width: 60%;
    height: 70px;
    font-size: 25px;
    font-family: 'Roboto';
    font-style: normal;
    color: #626C6D;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    overflow: hidden;
}

.btn:hover{
    transition: all ease 0.3s;
    transform: scale(1.1);
  }
  
.divbtn{
    position: absolute;
    top: 18em;
    right: -99%;
    }

    .formSign_up{
        position: absolute;
        top: 15em;
        right: 28%;
    }
    .formSign_up input{
  
        border-top: #ffffff;
        border-right: #ffffff;
        border-left: #ffffff;
        padding-bottom: 2px;
        margin-bottom: 50px;
        border-bottom: 1px solid #9DACB1;
        font-size: 15px;
        height: 40px;
        width: 200%;
        padding-left: 20px;
        border-radius: 0;
        
    }
    
   